.run {
    background: url('/images/run.png') center center;
    cursor: pointer;
    display: block;
    background-size: 20%;
    background-repeat: no-repeat;
}

.pause {
    background: url('/images/pause.png') no-repeat center center;
    cursor: pointer;
    display: block;
    background-size: 20%;
    background-repeat: no-repeat;
}

.finished {
    background: url('/images/finished.png') no-repeat center center;
    cursor: pointer;
    display: block;
    background-size: 20%;
    background-repeat: no-repeat;
}